<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrlStoreFront</key>
	<string>https://ios3-ism.myshopify.com/api/2024-10/graphql.json</string>
	<key>baseUrlAdmin</key>
	<string>https://ios3-ism.myshopify.com/admin/api/2024-10/graphql.json</string>
	<key>keyStoreFrontAccessToken</key>
	<string>X-Shopify-Storefront-Access-Token</string>
	<key>keyAccessTokenAdmin</key>
	<string>X-Shopify-Access-Token</string>
	<key>valueStoreFrontAccessToken</key>
	<string>5c85b82fa47f1e3903b4616acaae0ed4</string>
	<key>valueAccessTokenAdmin</key>
	<string>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</string>
</dict>
</plist>
